body {

    margin:0;
    height:100vh;

    background:
    linear-gradient(
    135deg,
    #050505,
    #16002b
    );

    font-family:Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
}



.app {

    width:450px;
    height:650px;

    background:#0b0b0b;

    border-radius:25px;

    padding:25px;

    box-shadow:
    0 0 30px #8a2be2;

    text-align:center;

}



.logo {

    width:100px;
    height:100px;

    border-radius:50%;

}



h1 {

    color:#9b59ff;

}



.status {

    color:#00ff88;

}



#chatbox {

    height:400px;

    background:#111;

    border-radius:15px;

    padding:15px;

    overflow-y:auto;

    text-align:left;

}



.message {

    margin:10px;

    padding:12px;

    border-radius:15px;

}



.bot {

    background:#222;

}



.user {

    background:#5b2cff;

}



.input-area {

    margin-top:15px;

    display:flex;

}



input {

    flex:1;

    padding:12px;

    border-radius:10px;

    border:none;

}



button {

    margin-left:10px;

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#8a2be2;

    color:white;

    cursor:pointer;

}



button:hover {

    background:#b366ff;

}